.dark{
  color: rgb(250, 247, 243);
  background-color: black;
}
h1{
  font-family:fantasy;
  font-weight:bolder;
  color: rgb(208, 166, 224);
  font-size: 45px;
  margin-bottom: 0px;
}
h2{
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  color: rgb(196, 164, 124);
}
header p {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: larger;
}

header{
  height:100px;
  width:auto;
  text-align: center;
}
footer{
  height: 50px;
  width: auto;
  text-align: center;
}



img{
  border-radius: 50%;
  border:3px solid bisque ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  max-height: 200px;

}

.line-Up{
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
}

hr {
  margin-top: 60px;
  margin-bottom: 40px;
}

a:link {
  color: rgb(219, 45, 152);
}

a:visited {
  color: rgb(156, 144, 211);
}

a:hover {
  color: green;
}

a:active {
  color: orange;
}
